<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Поиск вакансий{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="menu">
        <a href="{{ url_for('index') }}">Главная</a>
        <a href="{{ url_for('form') }}">Поиск</a>
        <a href="{{ url_for('results') }}">Результаты</a>
        <a href="{{ url_for('contacts') }}">Контакты</a>
    </div>

    <div class="content-wrapper">
        {% block content %}{% endblock %}
    </div>
</body>
</html>